<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_Head")

<body>

   
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
   
    <div id="main-wrapper">

       @await Component.InvokeAsync("_NavHeader")

       @await Component.InvokeAsync("_Header")
       
       @await Component.InvokeAsync("_Sidebar")
       
       @* @await Component.InvokeAsync("_ContentBody")*@
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <p>@RenderBody()</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
       
        @await Component.InvokeAsync("_Footer")
        
       
    </div>
    @await Component.InvokeAsync("_Script")
    @await Component.InvokeAsync("NToastNotify");

</body>

</html>
