
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">


@await Component.InvokeAsync("_UIHeadPartial")
<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        @await Component.InvokeAsync("_UISpinner")
        <!-- Spinner End -->
        <!-- Header Start -->
        @await Component.InvokeAsync("_UIHeaderStart")
        
        <!-- Header End -->
        <!-- Carousel Start -->
        @await Component.InvokeAsync("_UICarosel")
        <!-- Carousel End -->
        <!-- Booking Start -->
        @* @await Component.InvokeAsync("_UIBookinStart") *@
        
        <!-- Booking End -->
        <!-- About Start -->
        @await Component.InvokeAsync("_UIAboutStart")
        <!-- About End -->
        <!-- Room Start -->
        @await Component.InvokeAsync("_UIRoomStart")
        <!-- Room End -->
        <!-- Video Start -->
        @await Component.InvokeAsync("_UIVideoStart")
        <!-- Video End -->
        <!-- Service Start -->
        @await Component.InvokeAsync("_UIServiceStart")
        <!-- Service End -->
        <!-- Testimonial Start -->
        @await Component.InvokeAsync("_UITestimonialStart")
        <!-- Testimonial End -->
        <!-- Team Start -->
        @await Component.InvokeAsync("_UITeamStart")
        <!-- Team End -->
        <!-- Newsletter Start -->
        @await Html.PartialAsync("CreateSubscribe")
        <!-- Newsletter End -->
        <!-- Footer Start -->
        @await Component.InvokeAsync("_UIFooter")
        <!-- Footer End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    @await Component.InvokeAsync("_UIJavaScript")
</body>

</html>