@model List<ResultRoomDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}
 
<h1>Oda Bilgisi Sayfasına Hoşgeldiniz</h1>
<table class="table table-bordered">
    <tr>
        <th>No</th>
        <th>Oda Numarası</th>        
        <th>Açıklama</th>
        <th>Fotoğraf</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>


    </tr>
    @foreach (var item in Model)
    {
        count++;

        <tr>
            <th>@count</th>
            <th>@item.Title</th>
            <th>@item.Description</th>
            <th>@item.Image</th>
            
            <th><a href="/Room/DeleteRoom/@item.Id/" class="btn btn-danger">Sil</a></th>
            <th><a href="/Room/UpdateRoom/@item.Id/" class="btn btn-success">Güncelle</a></th>
            <th><a href="#" class="btn btn-dark">Detay</a></th>

        </tr>
    }

</table>
<a href="/Room/AddRoom/" class="btn btn-primary">Oda Ekle</a>
