@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Fotoğraf Yükleme sayfasına Hoşgeldiniz</h1>
<form method="post" enctype="multipart/form-data">
    <label>Fotoğraf Yükle</label>
    <input type="file" name="file" class="form-control"/>
    <br />
    <button class="btn btn-primary">Dosyayı Yükle</button>
</form>

